global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "./alert_rules.yml.j2"

scrape_configs:
  - job_name: "node_exporter_postgre"
    static_configs:
      - targets: ['{{ groups["postgresql"][0] }}:9100']

  - job_name: "postgresql_exporter"
    static_configs:
      - targets: ['{{ groups["postgresql"][0] }}:9187']

  - job_name: 'node_exporter_mongo'
    static_configs:
      - targets: ['{{ groups["mongodb"][0] }}:9100']

  - job_name: 'mongodb_exporter'
    static_configs:
      - targets: ['{{ groups["mongodb"][0] }}:9216']
